/* ==========================================================================
   Partners shortcode
   ========================================================================== */

.loop-container.loop-layout-partners {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	.entry {
		flex: 0 1 auto;
		margin: 10px;
		width: 235px;
		height: 170px;
		background-color: white;
		position: relative;
		padding: 0;
		box-shadow: 0 0 0 2px rgba( black, 0.03 );
		overflow: visible;
		transition: .5s all;

		@include mobile {
			width: 48%;
			margin: 3px 1%;
			height: 100px;
		}
	}

	.featured-image {
		position: absolute;
		// background-color: gray;
		left: 10%;
		right: 10%;
		bottom: 10%;
		top: 10%;
		display: block;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.overlay {
		background-color: rgba( black, 0.85 );
		padding: 0 20px;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: .5s opacity;

		.overlay-inner {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX( -50% ) translateY( -50% );
			width: 100%;
			padding: 0 20px;
			text-align: center;

			@include mobile {
				padding: 0 10px;
			}
		}

		* {
			color: white;
		}
	}

	.entry:hover {
		// box-shadow: 0 0 0 2px rgba( black, 0.8 );

		.overlay {
			opacity: 1;
		}
	}

	.partners-link {
		font-size: 20px;
		padding: 8px 12px;
		text-decoration: none;
		font-size: 18px;
		border: 1px solid white;
		margin: 5px;
		text-transform: uppercase;
		border-radius: 3px;
		transition: .5s all;

		@include mobile {
			padding: 5px;
			margin: 3px;
			font-size: 16px;
		}

		&:hover {
			background-color: white;
			color: rgba( black, 0.8 );
		}
	}

	h3 {
		letter-spacing: 0;
		font-size: 16px;
		margin-bottom: 15px;
		font-weight: bold;

		@include mobile {
			font-size: 12px;
			margin-bottom: 10px;
			font-weight: normal;
		}
	}

	.partner-edit-link {
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		padding: 4px;
		z-index: 20;
		color: gray;
		display: inline-block;
		text-decoration: none;
		font-size: 12px;
		line-height: 1em;
	}
}