/* ==========================================================================
   Partners shortcode
   ========================================================================== */
.loop-container.loop-layout-partners,
.facetwp-template[data-name=partners] {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: -10px;
  margin-right: -10px;
  width: calc(100% + 20px);
}
.loop-container.loop-layout-partners .entry.type-partners,
.loop-container.loop-layout-partners .hentry.type-partners,
.facetwp-template[data-name=partners] .entry.type-partners,
.facetwp-template[data-name=partners] .hentry.type-partners {
  flex: 0 1 auto;
  margin: 10px;
  width: calc(20% - 20px);
  padding: 0;
}
@media (max-width: 1400px) {
  .loop-container.loop-layout-partners .entry.type-partners,
  .loop-container.loop-layout-partners .hentry.type-partners,
  .facetwp-template[data-name=partners] .entry.type-partners,
  .facetwp-template[data-name=partners] .hentry.type-partners {
    width: calc(25% - 20px);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .loop-container.loop-layout-partners .entry.type-partners,
  .loop-container.loop-layout-partners .hentry.type-partners,
  .facetwp-template[data-name=partners] .entry.type-partners,
  .facetwp-template[data-name=partners] .hentry.type-partners {
    width: calc(33.3333333333% - 20px);
  }
}
@media (max-width: 767px) {
  .loop-container.loop-layout-partners .entry.type-partners,
  .loop-container.loop-layout-partners .hentry.type-partners,
  .facetwp-template[data-name=partners] .entry.type-partners,
  .facetwp-template[data-name=partners] .hentry.type-partners {
    width: calc(50% - 20px);
  }
}
@media (max-width: 400px) {
  .loop-container.loop-layout-partners .entry.type-partners,
  .loop-container.loop-layout-partners .hentry.type-partners,
  .facetwp-template[data-name=partners] .entry.type-partners,
  .facetwp-template[data-name=partners] .hentry.type-partners {
    width: calc(100% - 20px);
  }
}
.loop-container.loop-layout-partners .loop-item-inner,
.facetwp-template[data-name=partners] .loop-item-inner {
  background-color: white;
  position: relative;
  padding: 0;
  overflow: hidden;
  transition: 0.5s all;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03);
  width: 100%;
  height: 0;
  padding-top: 75%;
  overflow: hidden;
}
.loop-container.loop-layout-partners .featured-image,
.facetwp-template[data-name=partners] .featured-image {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 10%;
  top: 10%;
  display: block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.loop-container.loop-layout-partners .no-thumb,
.facetwp-template[data-name=partners] .no-thumb {
  top: 50%;
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  display: block;
  transition: 0.5s all;
  padding: 0 20px;
}
.loop-container.loop-layout-partners .no-thumb > :last-child,
.facetwp-template[data-name=partners] .no-thumb > :last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .loop-container.loop-layout-partners .no-thumb,
  .facetwp-template[data-name=partners] .no-thumb {
    padding: 0 10px;
  }
}
.loop-container.loop-layout-partners .overlay,
.facetwp-template[data-name=partners] .overlay {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 0 20px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s opacity;
  border-radius: 3px;
}
.loop-container.loop-layout-partners .overlay .overlay-inner,
.facetwp-template[data-name=partners] .overlay .overlay-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.loop-container.loop-layout-partners .overlay .overlay-inner > :last-child,
.facetwp-template[data-name=partners] .overlay .overlay-inner > :last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .loop-container.loop-layout-partners .overlay .overlay-inner,
  .facetwp-template[data-name=partners] .overlay .overlay-inner {
    padding: 0 10px;
  }
}
.loop-container.loop-layout-partners .overlay *,
.facetwp-template[data-name=partners] .overlay * {
  color: white;
}
.loop-container.loop-layout-partners .entry:hover .overlay,
.facetwp-template[data-name=partners] .entry:hover .overlay {
  opacity: 1;
}
.loop-container.loop-layout-partners .entry:hover .no-thumb,
.facetwp-template[data-name=partners] .entry:hover .no-thumb {
  opacity: 0;
}
.loop-container.loop-layout-partners .partners-link,
.facetwp-template[data-name=partners] .partners-link {
  font-size: 20px;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 18px;
  border: 1px solid white;
  margin: 5px;
  text-transform: uppercase;
  border-radius: 3px;
  transition: 0.5s all;
}
@media (max-width: 767px) {
  .loop-container.loop-layout-partners .partners-link,
  .facetwp-template[data-name=partners] .partners-link {
    padding: 5px;
    margin: 3px;
    font-size: 16px;
  }
}
.loop-container.loop-layout-partners .partners-link:hover,
.facetwp-template[data-name=partners] .partners-link:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
}
.loop-container.loop-layout-partners h3,
.facetwp-template[data-name=partners] h3 {
  letter-spacing: 0;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .loop-container.loop-layout-partners h3,
  .facetwp-template[data-name=partners] h3 {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: normal;
  }
}
.loop-container.loop-layout-partners .partner-edit-link,
.facetwp-template[data-name=partners] .partner-edit-link {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  padding: 4px;
  z-index: 20;
  color: gray;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 1em;
  transition: 0.3s all;
}
.loop-container.loop-layout-partners .entry:hover .partner-edit-link,
.facetwp-template[data-name=partners] .entry:hover .partner-edit-link {
  color: white;
}
.loop-container.loop-layout-partners .partner-content,
.facetwp-template[data-name=partners] .partner-content {
  display: none;
}

/* ==========================================================================
   Columns
   ========================================================================== */
.loop-container.loop-layout-partners.loop-columns-2 .entry {
  width: calc(50% - 20px);
}
@media (max-width: 400px) {
  .loop-container.loop-layout-partners.loop-columns-2 .entry {
    width: calc(100% - 20px);
  }
}
.loop-container.loop-layout-partners.loop-columns-3 .entry {
  width: calc(33.3333333333% - 20px);
}
@media (max-width: 767px) {
  .loop-container.loop-layout-partners.loop-columns-3 .entry {
    width: calc(50% - 20px);
  }
}
@media (max-width: 400px) {
  .loop-container.loop-layout-partners.loop-columns-3 .entry {
    width: calc(100% - 20px);
  }
}
.loop-container.loop-layout-partners.loop-columns-4 .entry {
  width: calc(25% - 20px);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .loop-container.loop-layout-partners.loop-columns-4 .entry {
    width: calc(33.3333333333% - 20px);
  }
}
@media (max-width: 767px) {
  .loop-container.loop-layout-partners.loop-columns-4 .entry {
    width: calc(50% - 20px);
  }
}
@media (max-width: 400px) {
  .loop-container.loop-layout-partners.loop-columns-4 .entry {
    width: calc(100% - 20px);
  }
}
.loop-container.loop-layout-partners.loop-columns-5 .entry {
  width: calc(20% - 20px);
}
@media (max-width: 1400px) {
  .loop-container.loop-layout-partners.loop-columns-5 .entry {
    width: calc(25% - 20px);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .loop-container.loop-layout-partners.loop-columns-5 .entry {
    width: calc(33.3333333333% - 20px);
  }
}
@media (max-width: 767px) {
  .loop-container.loop-layout-partners.loop-columns-5 .entry {
    width: calc(50% - 20px);
  }
}
@media (max-width: 400px) {
  .loop-container.loop-layout-partners.loop-columns-5 .entry {
    width: calc(100% - 20px);
  }
}
.loop-container.loop-layout-partners.loop-columns-6 .entry {
  width: calc(16.6666666667% - 20px);
}
@media (max-width: 1400px) {
  .loop-container.loop-layout-partners.loop-columns-6 .entry {
    width: calc(25% - 20px);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .loop-container.loop-layout-partners.loop-columns-6 .entry {
    width: calc(33.3333333333% - 20px);
  }
}
@media (max-width: 767px) {
  .loop-container.loop-layout-partners.loop-columns-6 .entry {
    width: calc(50% - 20px);
  }
}
@media (max-width: 400px) {
  .loop-container.loop-layout-partners.loop-columns-6 .entry {
    width: calc(100% - 20px);
  }
}

/* ==========================================================================
   Featherlight
   ========================================================================== */
.featherlight-content .partner-content h2 {
  margin-bottom: 15px;
}

/* ==========================================================================
   Partners shortcode
   ========================================================================== */
.loop-container.loop-layout-partners_slider {
  opacity: 0;
  height: 200px;
  transition: 0.3s all ease;
  margin: 0 auto;
  max-width: calc(100vw - 90px);
}
.loop-container.loop-layout-partners_slider.slick-initialized {
  opacity: 1;
  height: auto;
}
.loop-container.loop-layout-partners_slider .slick-track {
  padding: 10px 0;
}
.loop-container.loop-layout-partners_slider .slick-track .slick-slide {
  margin: 0 10px;
}
.loop-container.loop-layout-partners_slider .slick-next:before,
.loop-container.loop-layout-partners_slider .slick-prev:before {
  color: rgba(85, 85, 85, 0.7);
}
.loop-container.loop-layout-partners_slider .slick-next:before {
  font-family: "dashicons";
  content: "\f345";
}
.loop-container.loop-layout-partners_slider .slick-prev:before {
  font-family: "dashicons";
  content: "\f341";
}
.loop-container.loop-layout-partners_slider .entry {
  margin: 0;
}
.loop-container.loop-layout-partners_slider .loop-item-inner {
  background-color: white;
  position: relative;
  padding: 0;
  transition: 0.5s all;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03);
  width: 183px;
  height: 0;
  padding-top: 75%;
  overflow: hidden;
}
.loop-container.loop-layout-partners_slider .featured-image {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 10%;
  top: 10%;
  display: block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.loop-container.loop-layout-partners_slider .no-thumb {
  top: 50%;
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  display: block;
  transition: 0.5s all;
  padding: 0 20px;
}
.loop-container.loop-layout-partners_slider .no-thumb > :last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .loop-container.loop-layout-partners_slider .no-thumb {
    padding: 0 10px;
  }
}
.loop-container.loop-layout-partners_slider .overlay {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 0 20px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s opacity;
  border-radius: 3px;
}
.loop-container.loop-layout-partners_slider .overlay .overlay-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.loop-container.loop-layout-partners_slider .overlay .overlay-inner > :last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .loop-container.loop-layout-partners_slider .overlay .overlay-inner {
    padding: 0 10px;
  }
}
.loop-container.loop-layout-partners_slider .overlay * {
  color: white;
}
.loop-container.loop-layout-partners_slider .entry:hover .overlay {
  opacity: 1;
}
.loop-container.loop-layout-partners_slider .entry:hover .no-thumb {
  opacity: 0;
}
.loop-container.loop-layout-partners_slider .partners-link {
  padding: 8px 12px;
  text-decoration: none;
  font-size: 18px;
  border: 1px solid white;
  margin: 5px;
  text-transform: uppercase;
  border-radius: 3px;
  transition: 0.5s all;
}
@media (max-width: 767px) {
  .loop-container.loop-layout-partners_slider .partners-link {
    padding: 5px;
    margin: 3px;
    font-size: 16px;
  }
}
.loop-container.loop-layout-partners_slider .partners-link:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
}
.loop-container.loop-layout-partners_slider h3 {
  letter-spacing: 0;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .loop-container.loop-layout-partners_slider h3 {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: normal;
  }
}
.loop-container.loop-layout-partners_slider .partner-edit-link {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  padding: 4px;
  z-index: 20;
  color: gray;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 1em;
  transition: 0.3s all;
}
.loop-container.loop-layout-partners_slider .entry:hover .partner-edit-link {
  color: white;
}
.loop-container.loop-layout-partners_slider .partner-content {
  display: none;
}
